body {
    font-family: 'Raleway', sans-serif;
    background: #222222;
    color: #eee;
 }

 .box {
    max-width: 600px;
    margin: 50px auto;
 }


 h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .1em;
 }

 ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
 }

 ul li {
    width: 100%;
    display: block;
    position: relative;
    border-bottom: 1px solid #444;
 }
 ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
 }
 ul li label {
    display: block;
    position: relative;
    padding: 1em 2em;
    font-size: 1.6em;
    cursor:pointer;
    z-index: 5;
    transition: all .25s linear;
 }
 ul li:hover label {
    color: #fff;
 }
 ul li .check {
    display: block;
    position: absolute;
    border: 4px solid #eee;
    border-radius: 100%;
    height: 24px;
    width: 25px;
    top: calc(50% - 14px);
    z-index: 5;
    transition: border .25s linear;
    cursor:pointer;
 }
 ul li:hover .check {
    border: 4px solid #fff;
 }
 ul li .check::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    margin: auto;
    transition: background .25s linear;
 }
 input[type=radio]:checked ~ .check {
    border: 4px solid #ff0;
 }
 input[type=radio]:checked ~ .check::before {
    background: #ff0;
 }
 input[type=radio]:checked ~ label {
    color: #ff0;
 }